* {
  font-family: sans-serif;
}
button {
  margin: 0.5rem;
}
.checkout {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: grid;
  place-items: center;
}
.wrappeer {
  background-color: lightgray;
  padding: 100px;
  border-radius: 10px;
}

/*Music Web*/
.secondary__nav {
  background-color: #212121;
  padding: 0.9rem;
  color: #fff;
}
.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary .announce {
  background-color: rgb(255, 80, 80);
  padding: 0.4rem;
  border-radius: 2rem;
  margin-right: 0.6rem;
}
.navigation {
  background-color: rgb(255, 80, 80);
  color: #fff;
}
.jumbotron {
  background-image: url(./img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.jumboBtn {
  background: transparent;
  color: #fff;
}
